<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="T3" connectionString="Data Source=DRAGON\SQLEXPRESS;Initial Catalog=T3; User ID=sa" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ConnectionStringName" value="T3"/>
    <add key="ProviderName" value="System.Data.SqlClient"/>   
  </appSettings>
</configuration>