<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <services>
            <service name="T3Service.T3Implementation">
                <endpoint address="http://localhost:5000/T3Service" binding="basicHttpBinding"
                    bindingConfiguration="" contract="Common.IT3Interface" />
            </service>
        </services>
    </system.serviceModel>
</configuration>